:root{
--blue-color:#126798;
--black-blue:#242F41;
--red-color:#E84646;
/* Espaciado */
--space-ten:10px;
}
html,body{
  margin:0;
  padding: 0;
  font-size: 12px;
  font-family:Helvetica;
}

.total{
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 100px 1fr  80px;
  grid-template-areas: "header header header"
                       ". body ."
                       "footer footer footer";
  grid-row-gap: 20px;
}
section{
  /* border: 1px solid red; */
}
.header{
  display: grid;
  grid-area: header;
  background-color: #126798;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 70px 30px;
  grid-template-areas: ". head ."
                       "cool cool cool"
}
div{
  /* border: 1px solid red; */
}
.head{
  grid-area: head;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.head form input{
  font-size: 15px;
  height: 20px;
  border-radius: 5px;
}
.cool{
  background-color: #242F41;
  color: white;
  grid-area: cool;
  display:flex;
  justify-content: center;
  font-size: 13px;
  padding-left: 80px;
  padding-right: 80px;
}
.cool ul{
  display: flex;
  align-items: center;
}
.cool ul li{
  list-style: none;
  padding-right: 40px;

}
.cool ul li a{
  color: white;
  text-decoration: none;
}
.cool ul li a:hover{
  color: #126798;
}
.body{
  grid-area: body;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 10px;
  grid-column-gap: 20px;
  display:relative;
}
.menus{
  grid-row-start: 1;
  grid-row-end:4;
}
a{
  text-decoration: none;
  color: black;
}
.oldprice{
  text-decoration: line-through;
  font-weight: normal;
  font-size: 12px;
  color: #777;
}
.picture img{
  max-width: 210px;
  max-height: 210px;
}
.dc{
    width: 50px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: white;
    background-color: #E84646;
    padding-top: 5px;
  }
  .dc span{
    font-size:15px;
    font-weight: bold;
  }
.item{
  position: relative;
  justify-content: center;
  text-align: center;
}
.item:hover{
  background-color: white;
  box-shadow: 0.2px 0.2px 5px 5px #D1D1D1;
}
.content a h4 p:hover{
  color: #126798;
}
.price{
  font-size: 15px;
  font-weight: bold;
  color: #E84646;
  margin-bottom:5px;
  text-align: center;
}
.sold_out_box{
    position: absolute;
    left: 0px;
    right:0px;
    top: 80px;
    height: 35px;
    background: #707175;
    opacity: 0.8;
  }
  .sold_out_box span{
    position: absolute;
    top: 10px;
    left: 0;
    right:0;
    height: 35px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
  }
.footer{
  grid-area: footer;
  background-color: #242F41;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
